nav {
    background-color: var(--secondary);
}

.quas-nav-band .quas-nav-bar {
    float: left;
}

.quas-nav-link {
    text-decoration: none;
}

.quas-nav-bar > ul {
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.quas-nav-bar > ul > li {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    transition: all 0.5s;
}

.quas-nav-bar > ul > li > img {
    margin-bottom: -8px;
}

.quas-nav-bar > ul.quas-nav-list > li:hover {
    background-color: #a6dcef;
}

.quas-tool-bar {
    width: 64px;
    height: 80%;
    position: fixed;
    left: 2.5%;
    top: 10%;
    background-color: var(--secondary);
    text-align: center;
    z-index: 996;
}

.quas-tool-icon {
    margin-top: 5px;
    margin-bottom: 15px;
    opacity: 75%;
    transition: all 0.5s;
    padding-left: 16px;
    padding-right: 16px;
}

.quas-tool-icon:hover {
    background-color: #a6dcef;
}

.quas-design-container {
    background-color: #f5f5f5;
    width: 80%;
    position: absolute;
    top: 10%;
    right: 10%;
    margin-bottom: 40px;
}

.quas-fill-container {
    width: 60%;
    margin-left: 20%;
    margin-right: auto;
    background-color: #f5f5f5;
}

.quas-design-header {
    text-align: center;
}

.quas-fill-header {
    text-align: center;
    text-transform: uppercase;
}

.quas-ques-item {
    margin-left: 1rem;
}

.quas-tool-tip {
    visibility: hidden;
    width: 80px;
    background-color: var(--primary);
    opacity: 75%;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 3px 0px;
    margin-left: 10px;
    position: absolute;
    z-index: 999;
}

.quas-tool-icon:hover + .quas-tool-tip {
    visibility: visible;
    z-index: 999;
}

.quas-submit-button {
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px var(--success) solid;
    color: var(--success);
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s;
}

.quas-submit-button:hover {
    color: white;
    background-color: var(--success);
}

.quas-nav-bar-mobile {
    font-size: 18px;
}

.quas-fill-container-mobile {
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
    background-color: #f5f5f5;
}

.quas-fill-header-mobile {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}