@import "animation.css";

nav {
    background-color: var(--secondary);
}

th, td {
    overflow: hidden;
    text-align: center;
}

td {
    font-weight: normal;
}

.quas-nav-band .quas-nav-bar {
    float: left;
}

.quas-nav-link {
    text-decoration: none;
}

.quas-nav-bar > ul {
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.quas-nav-bar > ul > li {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    transition: all 0.5s;
}

.quas-nav-bar > ul > li > img {
    margin-bottom: -8px;
}

.quas-nav-bar > ul.quas-nav-list > li:hover {
    background-color: #a6dcef;
}

.quas-tool-bar {
    width: 64px;
    height: 80%;
    position: fixed;
    left: 2.5%;
    top: 10%;
    background-color: var(--secondary);
    text-align: center;
    z-index: 996;
}

.quas-tool-icon {
    margin-top: 5px;
    margin-bottom: 15px;
    opacity: 75%;
    transition: all 0.5s;
    padding-left: 16px;
    padding-right: 16px;
}

.quas-tool-icon:hover {
    background-color: #a6dcef;
}

.quas-design-container {
    background-color: #f5f5f5;
    width: 80%;
    position: absolute;
    top: 10%;
    right: 10%;
    margin-bottom: 60px;
}

.quas-fill-container {
    width: 60%;
    margin-left: 20%;
    margin-right: auto;
    background-color: #f5f5f5;
}

.quas-design-header {
    text-align: center;
}

.quas-fill-header {
    text-align: center;
    text-transform: uppercase;
}

.quas-ques-item {
    margin-left: 1rem;
}

.quas-tool-tip {
    visibility: hidden;
    width: 80px;
    background-color: var(--primary);
    opacity: 75%;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 3px 0px;
    margin-left: 10px;
    position: absolute;
    z-index: 999;
}

.quas-tool-icon:hover + .quas-tool-tip {
    visibility: visible;
    z-index: 999;
}

.quas-submit-button {
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px var(--success) solid;
    color: var(--success);
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s;
}

.quas-submit-button:hover {
    color: white;
    background-color: var(--success);
}

.quas-nav-bar-mobile {
    font-size: 18px;
}

.quas-fill-container-mobile {
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
    background-color: #f5f5f5;
}

.quas-fill-header-mobile {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}

.quas-tab-button {
    background-color: #f5f5f5;
    margin-right: 2px;
    color: black;
    padding: 2px 15px;
    border: none;
    outline: none;
}

.quas-tab-button-selected {
    background-color: #f5f5f5;
    margin-right: 2px;
    color: var(--primary);
    padding: 2px 15px;
    border: none;
    outline: none;
}

.quas-tab-content {
    background-color: #f5f5f5;
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
    border-radius: 5px;
    min-height: 700px;
    text-align: left;
}

.quas-tab-slot {
    margin-left: 10px;
    margin-right: 10px;
    overflow: scroll;
    height: 680px;
}

.quas-table {
    width: 100%;
    border-spacing: 0;
}

.quas-table > tbody > tr {
    height: 64px;
    transition: background-color 0.3s;
}

.quas-table > tbody > tr:hover {
    background-color: var(--secondary);
}

.quas-table > tbody > tr > td {
    border-top: 1px solid black;
}

.quas-loading-spin {
    animation: loading-spin 2s linear 0.2s infinite;
    margin-top: 20px;
}

.quas-loading-label {
    display: block;
    margin-top: 20px;
}

.quas-statistic-grid {
    display: grid;
    grid-template-columns: 800px 800px;
    grid-template-rows: 50% 50%;
}

.quas-analysis-content {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 20px 20px;
}

.quas-analysis-cell {
    margin: 10px 20px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    min-height: 650px;
}

.quas-remove-icon {
    color: var(--error);
    float: right;
}

.quas-list-item-active {
    text-indent: 20px;
    background-color: var(--secondary);
}

.quas-list-item-inactive {
    text-indent: 0;
    background-color: rgba(0, 0, 0, 0);
}

.quas-table-grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

.quas-questionnaire-card {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 10px;
    text-align: center;
    transition: all 0.3s;
}

.quas-questionnaire-card > label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    background-color: var(--secondary);
}

.quas-questionnaire-card > img {
    width: 128px;
    height: 128px;
    margin: 0 auto;
    transition: all 0.3s;
}

.quas-questionnaire-card:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.quas-questionnaire-card:hover > img {
    opacity: 0;
}

.quas-questionnaire-card:hover > label {
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}